{% extends "base.html.j2" %}

{% block content %}
<article>
<h2>{{ post_title }}</h2>
{{ body_content }}
</article>
<nav>
  <ul>
    {% if prev_post %}
    <li><a href="{{ prev_post }}">Previous</a></li>
    {% endif %}
    {% if next_post %}
    <li><a href="{{ next_post }}">Next</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}