name: Tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  lint-and-format:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Set up uv
        uses: astral-sh/setup-uv@v1

      - name: Create environment and install dependencies
        run: |
          uv venv --python 3.12
          uv pip sync requirements.lock
          uv pip sync requirements-dev.lock

      - name: Check formatting
        run: uv run ruff format . --check

      - name: Lint code
        run: uv run ruff check .

      - name: Run tests
        run: uv run pytest

